.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
    background-color:#6943FF;
    color: white;
}
.container{
    background-color:#FFFFFF;
}
.length{
    text-align: center;
    height: 75px;
    background-color: antiquewhite;
}
.volume{
    text-align: center;
    height: 75px;
    background-color: antiquewhite;
}
.mass{
    text-align: center;
    height: 75px;
    background-color: antiquewhite;
}
h2{
    color: #5A537B;
}
h3{
    color: #353535;
}