body{
    margin: 0;
    background-color: #F4F4F4;;
}
.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
    background-color:#6943FF;
    color: white;
}
.container{
    background-color:#F4F4F4;
    padding: 20px;
}
.length{
    text-align: center;
    height: 75px;
    background-color: white;
}
.volume{
    text-align: center;
    height: 75px;
    background-color: white;
}
.mass{
    text-align: center;
    height: 75px;
    background-color: white;
}
h2{
    color: #5A537B;
}
h3{
    color: #353535;
}